<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li class="active">
          <a href="index.html">
            <i class="material-icons">home</i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
              <i class="material-icons">trending_down</i>
              <span>Multi Level Menu</span>
          </a>
          <ul class="ml-menu">
              <li>
                  <a href="javascript:void(0);">
                      <span>Menu Item</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <span>Menu Item - 2</span>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);" class="menu-toggle">
                      <span>Level - 2</span>
                  </a>
                  <ul class="ml-menu">
                      <li>
                          <a href="javascript:void(0);">
                              <span>Menu Item</span>
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0);" class="menu-toggle">
                              <span>Level - 3</span>
                          </a>
                          <ul class="ml-menu">
                              <li>
                                  <a href="javascript:void(0);">
                                      <span>Level - 4</span>
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
  <%= render 'shared/right_nav' %>
</section>