<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="margin-top: 5%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="defaultModalTitle"></h4>
      </div>
      <div class="modal-body" id="defaultModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-klink waves-effect" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>